@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,700);


.btn {
  border-width: 1px;
}
.chorus {
  font-weight: 500;
}
.italic {
  font-style: italic;
}
#songs .jumbotron,
#band .jumbotron {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 20% 0 15% 0;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}
.jumbotron h1 {
  font-size: 6em;
}
.mbr-header__text {
  font-size: 3em;
}
.mbr-section__container--isolated {
  padding-top: 0;
}
.navbar-brand {
  font-size: 2.5em;
}
footer {
  border-top: 1px solid #eee;
  padding: 2em 0 1em 0;
}
.song {
  font-size: large;
  margin-top: 60px;
}
.song p {
  margin-bottom: 2em;
}


#header4-k H1 {
  font-family: 'Oswald', sans-serif;
}
#header4-k P {
  text-align: center;
  font-size: 60px;
}
#msg-box3-1 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 46px;
}
#msg-box3-1 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1 .mbr-article P {
  color: #ffffff;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}
#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-d .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#msg-box3-d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box4-h .mbr-header__text {
  color: #252525;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #252525;
}
#social-buttons2-8 .mbr-header__text {
  font-family: 'Oswald', sans-serif;
  text-align: right;
  color: #ffffff;
}
#dropdown-menu-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-j .navbar-brand a {
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-j .nav .link,
#dropdown-menu-j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-j .navbar,
#dropdown-menu-j .dropdown-menu {
  background: #333333;
}
#dropdown-menu-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-j .dropdown-menu a:hover,
#dropdown-menu-j .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-j .navbar-toggler {
  color: #ffffff;
}
#content5-l .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-l .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-l .mbr-article {
  color: #fff;
}


#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .navbar-brand a {
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #333333;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-m .navbar-toggler {
  color: #ffffff;
}
#content5-n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-article {
  color: #fff;
}
















@font-face {
  font-family: 'TrashHand';
  src: url('TrashHand.ttf');
}
body {
  font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'TrashHand';
}

#header4-0 H1 {
  line-height: 10rem;
  text-align: center;
  font-family: 'TrashHand', sans-serif;
}
#about .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-family: 'TrashHand', sans-serif;
  font-size: 46px;
}
#about .mbr-header .mbr-header__subtext {
  text-align: center;
}
#about .mbr-article P {
  color: #ffffff;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  line-height: 1.5;
}
.mbr-buttons {
  margin: 0px 0 13px 0;
}
#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'TrashHand', sans-serif;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#gallery .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-family: 'TrashHand', sans-serif;
}
#gallery .mbr-header .mbr-header__subtext {
  text-align: center;
}
#music-lyrics .mbr-header__text {
  color: #252525;
  font-family: 'TrashHand', sans-serif;
}
#music-lyrics .mbr-header__subtext {
  color: #ffffff;
}
#music-lyrics .mbr-article {
  color: #252525;
}
#connect .mbr-header__text {
  font-family: 'TrashHand', sans-serif;
  text-align: right;
  color: #ffffff;
}
#dropdown-menu-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-j .navbar-brand a {
  font-family: 'TrashHand', sans-serif;
}
#dropdown-menu-j .nav .link,
#dropdown-menu-j .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'TrashHand', sans-serif;
}
#dropdown-menu-j .navbar,
#dropdown-menu-j .dropdown-menu {
  background: #333333;
}
#dropdown-menu-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-j .dropdown-menu a:hover,
#dropdown-menu-j .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-j .navbar-toggler {
  color: #ffffff;
}


.mbr-gallery .mbr-gallery-item > a {
  border: 1px solid #432615;
  background-color: #432615;
}

.btn-inverse .btn-default:hover {
  background-color: #c49a6c;
}

@media only screen and (max-width : 479px) {
  #header4-0 H1 {
    font-size: 6rem;
    line-height: 3rem;
  }
  #connect .mbr-header__text, #connect .mbr-social-icons {
    text-align: center;
  }
  .band-member-div {
    padding: 0 10%;
  }
  .band-member-text {
    text-align: center;
  }
  .band-member-div .featurette-image {
    margin-bottom: 20px;
  }
  #dropdown-menu-j .navbar-toggler {
    margin-top: 13px;
  }
  .navbar-dropdown .navbar-brand {
    margin-right: 0;
  }
}

@media only screen and (min-width : 480px) and (max-width : 767px) {
  .band-member-div {
    padding: 0 10%;
  }
  .band-member-text {
    text-align: center;
  }
  .band-member-div .featurette-image {
    margin-bottom: 20px;
  }
  #header4-0 H1 {
    font-size: 13rem;
    line-height: 7rem;
  }
  #connect .mbr-header__text, #connect .mbr-social-icons {
    text-align: center;
  }
  .nav > li > a {
    padding: 3px;
  }
}

@media only screen and (min-width : 768px)  and (max-width : 1199px) {
  #header4-0 H1 {
    font-size: 13rem;
    line-height: 7rem;
  }
  #connect .mbr-header__text, #connect .mbr-social-icons {
    text-align: center;
  }
}

@media only screen and (min-width : 1200px) {
    #header4-0 H1 {
      font-size: 20rem;
  }
}