<section class="mbr-gallery mbr-section mbr-section--no-padding" style="background-color:rgb(67, 38, 21);">
  <div class=" container mbr-gallery-layout-default" style="padding-top: 0px; padding-bottom: 93px;">
    <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/0d41df2f075f5d459f5a42d6398686f6.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe> 
    <div class="clearfix"></div>
  </div>
</section>